.comment .feedback-box,
.comment .feedback-box section {
	display: none;
}

.comment .feedback-box p {
	margin-bottom: 0;
}

.comment .feedback-box .other-describe,
.comment .feedback-box .required {
	display: none;
}

.comment .feedback-box form[data-selected-reason="other"] .other-describe {
	display: block;
}

.comment .feedback-box[data-type="fave-logged-out"] .fave-logged-out,
.comment .feedback-box[data-type="flag-logged-out"] .flag-logged-out,
.comment .feedback-box[data-type="flag-logged-in"] .flag-logged-in,
.comment .feedback-box[data-type="flag-submitted"] .flag-submitted {
	display: block;
}
